body{
    width: 100vw;
}
#clickMe {
    position: fixed;
    min-height: 120px;
    min-width: 70px;
    height: 20vh;
    width: 7vw;
}
#game{
    border: 1px;
    float: left;
    border-style: solid;
    width: 80vw;
    height: 90vh;

}
#hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    float: right;
    width:20vw;
    justify-items: center;

}
#start{
    border-style: solid;

}
#container{
    display: flex;
}
#nav{
    display: flex;
    justify-content: space-around;
}
#easy,#medium,#hard{
    background-color: white;
}
#easy{
    background-color: rgb(255, 25, 0);
}
#level{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}